# Ignore everything in wp-content
wp-content/*

# Allow our custom plugins
!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/hitprice-helper/
!wp-content/plugins/hitprice-compare/
!wp-content/plugins/hitprice-content-engine/

# Allow our child theme
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/astra-child/

# Ignore uploads, cache, upgrade dirs
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/

# OS / editor files
.DS_Store
Thumbs.db
*.log
